@model IEnumerable<Persona5APIv3.Models.PersonaEntity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header">
    <div class="text-box">
        <div class="text-center">
            <h1 class="main-heading">Welcome</h1>
            <h2 class="sub-heading">Find your favorite Persona</h2>
        </div>
        <a href="#" class="btn btn-white btn-scroll">View a random Persona</a>
    </div>
</div>


<div class="persona-box">
    <div class="persona-list">
        @foreach (var persona in Model) {
            <h2>@Html.DisplayFor(modelItem => persona.Name)</h2>
        }
    </div>
</div>